# WORKSHOP 2

------------

**<u>GRUPO 4<u>**

Digital House

link git hub: https://github.com/grupo4dhds/grupo4_git.git

--------------

## CONTENIDO

In [1]:
import numpy as np
import pandas as pd

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression

In [2]:
data = pd.read_csv('data_apartment_5_final.csv')

columnas = ['oldIndex', 'prop_type', 'place', 'state', 'price','currency', 'sup_total', 'sup_cov', 'price_m2', 'cat_place', 'floor', 'rooms', 'expenses', 'regex1', 'regex2', 'direccion', 'above_mean']

data.columns = columnas

data['sup_total_pow2'] = data.sup_total * data.sup_total
data['sup_descubierta'] = data.sup_total - data.sup_cov
data['sup_descubierta_pct'] = data.sup_descubierta / data.sup_total *100

data['sup_descubierta_pct'].isna().sum()# sin nann

dummy_place = pd.get_dummies(data['cat_place'], drop_first=True)

dummy_place;

data

,oldIndex,prop_type,place,state,price,currency,sup_total,sup_cov,price_m2,cat_place,floor,rooms,expenses,regex1,regex2,direccion,above_mean,sup_total_pow2,sup_descubierta,sup_descubierta_pct
0,2,apartment,Mataderos,Capital Federal,72000.0,USD,55.0,55.0,1309.090909,Mataderos,NaN,NaN,NaN,NaN,NaN,NaN,0.0,3025.0,0.0,0.000000
1,5189,apartment,Mataderos,Capital Federal,67000.0,USD,40.0,28.0,1675.000000,Mataderos,NaN,NaN,NaN,NaN,NaN,NaN,0.0,1600.0,12.0,30.000000
2,6450,apartment,Mataderos,Capital Federal,90000.0,USD,52.0,48.0,1730.769231,Mataderos,NaN,NaN,200.0,NaN,NaN,NaN,0.0,2704.0,4.0,7.692308
3,7725,apartment,Mataderos,Capital Federal,88000.0,USD,50.0,38.0,1760.000000,Mataderos,NaN,2.0,500.0,NaN,NaN,NaN,0.0,2500.0,12.0,24.000000
4,8339,apartment,Mataderos,Capital Federal,93600.0,USD,51.0,46.0,1835.294118,Mataderos,NaN,NaN,NaN,NaN,NaN,NaN,0.0,2601.0,5.0,9.803922
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15937,29685,apartment,Villa Madero,Bs.As. G.B.A. Zona Oeste,83000.0,USD,51.0,51.0,1627.450980,otros,NaN,3.0,NaN,NaN,NaN,NaN,1.0,2601.0,0.0,0.000000
15938,31463,apartment,Villa Madero,Bs.As. G.B.A. Zona Oeste,75000.0,USD,43.0,40.0,1744.186047,otros,4.0,2.0,1000.0,NaN,NaN,NaN,0.0,1849.0,3.0,6.976744
15939,36947,apartment,Villa Madero,Bs.As. G.B.A. Zona Oeste,75000.0,USD,33.0,31.0,2272.727273,otros,NaN,1.0,NaN,NaN,NaN,NaN,0.0,1089.0,2.0,6.060606
15940,61264,apartment,Villa Madero,Bs.As. G.B.A. Zona Oeste,94000.0,USD,46.0,43.0,2043.478261,otros,1.0,2.0,850.0,estrategico,NaN,NaN,0.0,2116.0,3.0,6.521739
15941,113116,apartment,Villa Madero,Bs.As. G.B.A. Zona Oeste,135000.0,USD,70.0,63.0,1928.571429,otros,NaN,3.0,1200.0,NaN,NaN,NaN,1.0,4900.0,7.0,10.000000

In [3]:
print (pd.Series(data.columns).to_string())

0                oldIndex
1               prop_type
2                   place
3                   state
4                   price
5                currency
6               sup_total
7                 sup_cov
8                price_m2
9               cat_place
10                  floor
11                  rooms
12               expenses
13                 regex1
14                 regex2
15              direccion
16             above_mean
17         sup_total_pow2
18        sup_descubierta
19    sup_descubierta_pct

In [4]:
# 1. Seleccion de la clase de modelo
from sklearn.linear_model import LinearRegression

# 2. Elegir los hiperparámetros del modelo
linreg = LinearRegression(normalize=True) # False: default but then change to True and see changes

#3. Preparar los datos en una matriz de features, y un vector target

features = ['sup_total', 'sup_total_pow2', 'sup_descubierta_pct', 'above_mean']
X = data[features]
X = pd.concat([X,dummy_place], axis=1)
X = X.dropna()

y = data.price
y = y[y.index.intersection(X.index)]

#4. Separar los sets de entrenamiento y de testing
from sklearn.model_selection import train_test_split
Xtrain, Xtest, ytrain, ytest = train_test_split(X, y, random_state=1)

#5. Ajustar el modelo a los datos de entrenamiento
linreg.fit(Xtrain, ytrain)

#6. Predecir etiquetas para datos desconocidos
y_pred = linreg.predict(Xtest)

#7. Evaluar la perfomance del modelo

from sklearn import metrics

print ('MAE:', metrics.mean_absolute_error(ytest, y_pred))
print ('MSE:', metrics.mean_squared_error(ytest, y_pred))
print ('RMSE:', np.sqrt(metrics.mean_squared_error(ytest, y_pred)))
print ('R2:', metrics.r2_score(ytest, y_pred))

MAE: 26388.59702974661
MSE: 1290767140.9255707
RMSE: 35927.24788966685
R2: 0.8201073191954413

In [5]:
#help(LinearRegression)
#help(LinearRegression.predict)

"""
    VALORES CON valor=84, valor: cantidad de publicaciones minimas para conservar place_name
Normalize: False
MAE: 26388.597029743163
MSE: 1290767140.9256575
RMSE: 35927.247889668055
R2: 0.8201073191954292

Normalize: True
MAE: 26388.59702974661
MSE: 1290767140.9255707
RMSE: 35927.24788966685
R2: 0.8201073191954413
""";

In [6]:
y[y.index.intersection(X.index)]

0         72000.0
1         67000.0
2         90000.0
3         88000.0
4         93600.0
           ...
15937     83000.0
15938     75000.0
15939     75000.0
15940     94000.0
15941    135000.0
Name: price, Length: 11998, dtype: float64

In [7]:
print (pd.Series(X.columns).to_string()) # 0,1,2 son numericas # 3 es categorica de la superficie y el resto categorica de la ubicacion

0               sup_total
1          sup_total_pow2
2     sup_descubierta_pct
3              above_mean
4               Balvanera
5                Banfield
6                Barracas
7       Barrio Los Alisos
8            Barrio Norte
9                  Beccar
10                Canning
11        Capital Federal
12                Caseros
13               Castelar
14                 Centro
15              Chacarita
16                Coghlan
17             Colegiales
18                 Flores
19               Floresta
20                Florida
21               La Plata
22                Liniers
23               Martínez
24              Mataderos
25                  Nuñez
26                   Once
27                Palermo
28      Palermo Hollywood
29           Palermo Soho
30       Parque Patricios
31               Paternal
32            Plaza Mitre
33               Recoleta
34                 Retiro
35               Saavedra
36             San Isidro
37             San Miguel
38            San Nicolás
39               Victoria
40           Villa Crespo
41           Villa Devoto
42       Villa Pueyrredón
43                  otros

In [8]:
## filtrar el feature - para explicar lo que vamos a hacer (ya vamos a haber analizado la muestra, para asegurarnos que el filtro aplicado es válido)
### predecir una muestra - 
## aplicar el mismo filtro a la muestra - 

def visualizacion_dos_scatter():
    pass

"""
dame dos datasets, ya filtrados

# separame el eje x, de cualquier de los dos datasets
# armame una serie de cada valor real/predicho
"""

## Ploteamos los datos de entrenamiento vs los calculados de la muestra
plt.scatter(variable_independiente, objetivo)
plt.scatter(variable_independiente, data["y_pred"]) # muestra, entonces com
plt.suptitle('y, y_pred');


ax = plt.axes() #instancia de un objeto
# tiene atributos y tiene métodos
# los atributos .algo y los métodos son .algo()
# 
ax.set(xlabel = 'x', ylabel='price_per_m2')
#azules reales
#naranjas predichos

,sup_total,sup_total_pow2,sup_descubierta_pct,above_mean,Balvanera,Banfield,Barracas,Barrio Los Alisos,Barrio Norte,Beccar,...,Retiro,Saavedra,San Isidro,San Miguel,San Nicolás,Victoria,Villa Crespo,Villa Devoto,Villa Pueyrredón,otros
0,55.0,3025.0,0.000000,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,40.0,1600.0,30.000000,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,52.0,2704.0,7.692308,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,50.0,2500.0,24.000000,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,51.0,2601.0,9.803922,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
15937,51.0,2601.0,0.000000,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15938,43.0,1849.0,6.976744,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15939,33.0,1089.0,6.060606,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15940,46.0,2116.0,6.521739,0.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
15941,70.0,4900.0,10.000000,1.0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1